body{
    width: 100vw;
    height: 100vh;
}
main{
    padding: 20px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    padding-left: 95px;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    width: 100%;
    border-radius: 15px;
}

.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.criar{
    background-color: #4f46e5;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.criar:hover{
    background-color: #615ae3;
}

.cadastro{
    border-top: 1px solid #e3e9f7;
    padding: 12px;
    border: none;
}

.cadastro a {
    text-decoration: none;
}

.cadastro a :hover{
    background-color: #dddada;
}

.cadastro_btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: #fff;
}

.tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 253, 253);
    border-collapse: collapse;
    border-radius: 10px;
}

.titulo{
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 20px;
    height: 10vh;
    background: #4f46e5;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.body_table{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body_table2{
    gap: 5vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.line_buttons{
    width: 100%;
    height: 10vh;
}

.linha{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 70%;
    color: #808080;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.c1{
    border-radius: 0px 0px 0px 10px;
}

.c4{
    display: flex;
    flex-direction: column;
}

.backtab{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exclamacao{
    color: #f84949;
    font-size: 25px;
}

.status_btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 10vh;
}

.butons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:row;
    gap: 3px;
    min-width: 10px;
    min-height: 15px;
 }

 .editar_btn{
    padding: 8px;
    background-color: #0702fe;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
 }

 .editar_btn:hover{
    background-color: #3330f1;
 }

 .delete_btn{
    padding: 8px;
    font-size: 15px;
    background-color: #f84949;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
 }

 .delete_btn:hover{
    background-color: #f05a5a;
 }

 @media (max-width: 500px) {
    .tabela{
        display: flex;
        font-size: 12px;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }

    .titulo{
        font-size: 15px;
        display: flex;
        width: 100%;
        height: 5vh;
    }

    .backtab{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .linha{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .butons{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .editar_btn{
        font-size: 12px;
        padding: 5px;
    }
    .delete_btn{
        font-size: 12px;
        padding: 5px;
    }
 }