<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/cadastro.css">
  <title>cadastrar</title>
</head>
<body>
    <div class="form_interface">
      <h1>Cadastro</h1>

      <form action="" method="post" class="form_cadastro">

      <div>
        <input type="text" name="nome" placeholder="nome" autocomplete="off" required>  
        <input type="email" name="email" placeholder="email" autocomplete="off" required>
        <input type="password" name="senha" placeholder="senha" autocomplete="off" required>
      </div>

      <div class="button"><input type="submit" value="cadastrar"></div>

      <div class="b_login"><a href="{{url_for('usuario.login')}}">Já possui um login?</a></div>
    </form>
  </div>
</body>
</html>