<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/login.css">
  <title>login</title>
</head>
<body>
    <div class="form_interface">
      <h1>Login</h1>

      <form action="" method="post" class="form_cadastro">

      <div>
        <input type="email" name="email" id="" placeholder="email">
        <input type="password" name="senha" id="" placeholder="senha">
      </div>

      <div class="button"><input type="submit" value="cadastrar"></div>
      <div class="b_cadastro"><a href="{{url_for('usuario.cadastrar')}}">Não possui um login?</a></div>
    </form>
  </div>
</body>
</html>