<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/datas.js" defer></script>
    <title>Document</title>
</head>
<body>
    <section>
        <table class="tabela">
          <thead>
            <tr class="titulo">
              <th class="b1 backtab">Nome</th>
              <th class="backtab">Descrição</th>
              <th class="backtab">Data</th>
              <th class="b4 backtab">Status</th>
            </tr>
          </thead>
          <tbody class="body_table2">
            {% for tarefa in tarefas %}
            <tr class="linha">
              <td class="c1 bc">{{ tarefa.nome }}</td>
              <td class="bc">{{ tarefa.descrição }}</td>
              <td class="bc date" data-variavel="{{ tarefa.data }}"></td>
              <td class="bc">
                <i class="fa-solid fa-check"></i>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
</body>
</html>