<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="../static/js/datas.js" defer></script>
  <title>tarefas</title>
</head>

<body>
  <section>
    <table class="tabela">
      <thead class="head_table">
        <tr class="titulo">
          <th class="backtab">Nome</th>
          <th class="backtab">Descrição</th>
          <th class="backtab">Data</th>
          <th class="backtab">Status</th>
        </tr>
      </thead>
      <tbody class="body_table">
        {% for tarefa in tarefas %}
          <tr class="linha">
            <td class="c1 bc">{{ tarefa.nome }}</td>
            <td class="bc">{{ tarefa.descrição }}</td>
            <td class="bc date" data-variavel="{{ tarefa.data }}"></td>
            <td class="bc c4 ">
              <a href="/comp_tar/{{ tarefa.id }}">
                <button class="status_btn">
                  <i class="fa-solid fa-exclamation exclamacao"></i>
                </button>
              </a>
              <div class="butons">
                <button class="editar_btn open_modal" data-modal="modal-2">
                  Editar
                </button>
                <dialog id="modal-2">
                  <form action="editar/{{ tarefa.id }}" method="post">
                    <div class="modal_header">
                      <h1 class="modal_title">
                        Edite a Tarefa
                      </h1>
                      <button class="close_modal" data-modal="modal-2" type="button">
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                    </div>
                    <div class="modal_body">
                      <div class="input_group">
                        <label>Nome</label>
                        <input type="text" id="nome" name="nome" placeholder="nome da tarefa" autocomplete="off" required>
                      </div>
                      <div class="input_group">
                        <label>Descrição</label>
                        <input type="text" id="desc" name="desc" placeholder="Descrição da tarefa" autocomplete="off"
                          required>
                      </div>
                      <div class="input_group">
                        <label>Data</label>
                        <input type="date" id="data" name="data" placeholder="Data limite" autocomplete="off" required>
                      </div>
                      <div class="input_group">
                        <input type="submit" value="Editar" id="button">
                      </div>
                    </div>
                  </form>
                </dialog>
                <a href="/deletar/{{ tarefa.id }}">
                  <button class="delete_btn">
                    Deletar
                  </button>
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</body>

</html>